.cardEnd-container {
    width: 300px;
    height: 300px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }

  .cardEnd {
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }

  .cardEnd .front-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
  }

  .cardEnd .front-content p {
    font-size: 32px;
    font-weight: 700;
    opacity: 1;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
  }

  .cardEnd .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
    color: #e8e8e8;
    padding: 20px;
    line-height: 1.5;
    border-radius: 5px;
    pointer-events: none;
    transform: translatex(96%);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }

  .cardEnd .content .heading {
    font-size: 32px;
    font-weight: 700;
  }

  .cardEnd:hover .content {
    transform: translateY(0);
  }

  .cardEnd:hover .front-content {
    transform: translateX(20%);
  }

  .cardEnd:hover .front-content p {
    opacity: 0;
  }