.iv-browse-cover{
  width:174px;
  height:272px;
  border-radius:12px;
  overflow:hidden;
  display:block;
  text-decoration:none;
  transition: all 180ms ;
}


.iv-browse-cover img{
  width:100%;
  height:100%;
  object-fit:cover;
  display:block;
}

.iv-browse-cover:hover{
    transform: translateY(-5px);
}

.iv-browse-body{
  min-width:0;
  flex:1;
  display:flex;
  flex-direction:column;
  gap:6px;
}

.iv-browse-tags{
  display:flex;
  gap:10px;
  flex-wrap:wrap;
  line-height:1;
}

.iv-browse-tag{
  font-size:.72rem;
  letter-spacing:.06em;
  color:#2f7cf6;
  font-weight:700;
  text-transform:uppercase;
}

.iv-browse-genre{
      font-size:.52rem;
  letter-spacing:.06em;
  color:#020a15;
  font-weight:700;
  text-transform:uppercase;
}

.iv-browse-title{
  font-size:1.05rem;
  color:#111;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  text-decoration:none;
}

.iv-browse-title:hover{
  text-decoration:underline;
}

.iv-browse-author{
  font-size:.82rem;
  color:#6b7280;
  margin-top:-4px;
}

.iv-browse-author span{
  color:#374151;
  font-weight:600;
}

.iv-browse-desc{
  font-size:.9rem;
  color:#5a6473;
  /* display:-webkit-box; */
  -webkit-box-orient:vertical;
  overflow:hidden;
      overflow-y: scroll;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
    height: 190px;
    font-size: x-small;
}

.iv-browse-meta{
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:10px;
}

.iv-browse-leftmeta{
  display:flex;
  align-items:center;
  gap:6px;
  color:#6b7280;
  font-size:.85rem;
}

.iv-browse-star{ color:#5f5f5f; font-size: 1.3rem; }
.iv-browse-rating{ color:#111827;}
.iv-browse-dot{ opacity:.5; }

.iv-browse-bookmark{
  border:none;
  background:transparent;
  font-size:1.15rem;
  padding:6px 10px;
  border-radius:12px;
  color:#2f7cf6;
}

.iv-browse-bookmark:hover{
  background:rgba(47,124,246,.10);
}
